{% extends 'base.html.twig' %}

{% block title %}ENI - Guide Utilisateur{% endblock %}

{% block body %}
    Présentation ENI+Lien
    <div class="main">
        {% foreach %}
    </div>
{% endblock %}
