<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
        <link rel="stylesheet" href={{ asset('assets/styles/style.css')}} />
        <link rel="icon" href="{{ asset('icons/favicon.ico') }}" type="image/x-icon" />
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('assets/img/icon.png')}}" alt="Logo ENI" height=100px width=100px>
            </a>
            {% if app.current_route() == 'app_home' %}
                <p class="poppins-bold">Guide utilisateur - Tutoriels</p>
            {% else %}
                {% block pageTitle %}{% endblock %}
            {% endif %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <p class="poppins-regular">Copyright - © Editions ENI | Bibliothèque Universitaire de l'URCA | Designed by Audinot Tristan and Rysman Karim</p>
        </footer>
    </body>
</html>
